@using mentor.Models
@model IList<viewPostMenu>
<div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="@Url.Content("~/images/202410/anh.jpg")" class="img-fluid" alt="...">
            <!--- <img src="images/202410/anh.jpg" class="img-fluid" alt=""> --->
          </div>

          <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Không ngừng học hỏi - Chìa khóa mở ra tương lai thành công</h3>
            <p class="fst-italic">
              Learning is a lifelong journey, not a destination. The more we learn, the more we grow and understand the world around us.
            </p>
            <ul style="display: flex; flex-direction: column;">
              <li><i class="bi bi-check-circle"></i> <span>Mở rộng kiến thức và hiểu biết.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Phát triển kỹ năng tư duy.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Nâng cao kỹ năng giao tiếp.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Mở ra cơ hội nghề nghiệp.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Tự tin và phát triển cá nhân.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Góp phần xây dựng xã hội.</span></li>
            </ul>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
          
        </div>

      </div>