@model IEnumerable<dynamic>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Danh sách các khoa hiện có</h1>
    </div>
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã Khoa</th>
                    <th>Tên Khoa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var khoa in Model)
                {
                    <tr>
                        <td>@khoa.MaKhoa</td>
                        <td>@khoa.TenKhoa</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Index", "ThongKeKhoa", new { area = "Admin" })" class="btn btn-warning">
            <i class="bi bi-arrow-left"></i> Quay lại danh sách
        </a>
        <a href="@Url.Action("ExportKhoaHienCo", "ThongKeKhoa", new { area = "Admin" })" class="btn btn-success">
            <i class="bi bi-file-earmark-excel"></i> Xuất Excel
        </a>
        
    </div>
</main>
