@model mentor.Models.tblSinhVien

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm mới sinh viên</h2>
    </div>
    <div class="container shadow p-5">
        <form method="post" asp-action="Create">
            <div class="form-row">
                
                <!-- Họ và Tên -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="HoTen">Họ và tên sinh viên</label>
                    <input type="text" class="form-control" asp-for="HoTen" placeholder="Enter Full Name..." />
                    <span asp-validation-for="HoTen" class="alert-danger"></span>
                </div>

                <!-- Ngày Sinh -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="NgaySinh">Ngày sinh</label>
                    <input type="date" class="form-control" asp-for="NgaySinh" />
                    <span asp-validation-for="NgaySinh" class="alert-danger"></span>
                </div>

                <!-- Giới Tính -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="GioiTinh">Giới tính</label>
                    <select class="form-control" asp-for="GioiTinh" asp-items='new SelectList(new List<string> { "Nam", "Nữ" })'></select>
                    <span asp-validation-for="GioiTinh" class="alert-danger"></span>
                </div>

                <!-- Khoa (Dropdown List) -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="MaKhoa">Khoa</label>
                    <select class="form-control" asp-for="MaKhoa" asp-items="@ViewBag.KhoaList">
                        <option value="0">--- Select ---</option>
                    </select>
                    <span asp-validation-for="MaKhoa" class="alert-danger"></span>
                </div>
                
                <!-- Lớp Biên Chế (Dropdown List) -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="MaLop">Lớp biên chế</label>
                    <select class="form-control" asp-for="MaLop" asp-items="@ViewBag.LopList">
                        <option value="0">--- Select ---</option>
                    </select>
                    <span asp-validation-for="MaLop" class="alert-danger"></span>
                </div>

                <!-- Email -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Email">Email</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email..." />
                    <span asp-validation-for="Email" class="alert-danger"></span>
                </div>

                <!-- Số Điện Thoại -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="SoDienThoai">Số điện thoại</label>
                    <input type="text" class="form-control" asp-for="SoDienThoai" placeholder="Enter Phone Number..." />
                    <span asp-validation-for="SoDienThoai" class="alert-danger"></span>
                </div>

                <!-- Địa Chỉ -->
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="DiaChi">Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="DiaChi" placeholder="Enter Address..." />
                    <span asp-validation-for="DiaChi" class="alert-danger"></span>
                </div>
            </div>
            
            <a asp-controller="SinhVien" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i> Quay lại
            </a>
            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu thông tin
            </button>
        </form>
    </div>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}